
.kanban-card {
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    border: 1px solid #2F0459;
    width: 100%;
    display: inline-block;
    font-family: "Roboto", sans-serif;
}

    .kanban-card:hover {
        cursor: default;
    }

.card-header-rank {
    display: inline-block;
    height: 20px;
    width: 80px;
    text-align: center;
    
}

.card-header-points {
    display: inline-block;
    height: 20px;
    width: 80px;
    text-align: center;
    float: right;
}

.card-header-rank-text {
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: #D93814;
    color: #ffffff;
}

.card-header-points-text {
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
    background-color: #FF6600;
    color: #ffffff;
}

.card-name-text {
    color: black;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
}

.card-toggle {
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-toggle-collapse {
    border-bottom: 1px dashed grey;
    justify-content: flex-end;
}

.card-button-expand {
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;
    border: none;
    height: 30px;
    width: 80%;
}

    .card-button-expand:focus {
        outline: none;
    }

.card-button-collapse {
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;
    border: none;
    height: 30px;
    width: 80%;
}

    .card-button-collapse:focus {
        outline: none;
    }

.card-description-header {
    color: black;
    background-color: #ffffff;
    display: inline-flex;
    width: auto;
    padding: 1px 5px 1px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid grey;
    font-size: 14px;
    font-weight: 600;
    word-wrap: break-word;
}

.card-description-text {
    color: black;
    display: flex;
    width: auto;
    background-color: #ffffff;
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
    word-wrap: break-word;
}