
.kanban-column {
    display: inline-block;
    vertical-align: top;
    width: 19%;
    margin: 0.5%;
}

.column-header {
    height: auto;
    text-align: center;
}

.column-header-text {
    display: inline-block;
    font-family: Georgia, serif;
    font-weight: 500;
    font-size: 20px;
    word-wrap: break-word;
}

.column-container {
    background-color: #eef2f9;
    padding: 7px;
    overflow-y: auto;
    height: 72vh;
}

#Items.column-header {
    background-color: #7F25D9;
    color: #ffffff;
    font-weight: 400;
}

#To_Do.column-header {
    background-color: #2F0459;
    color: #ffffff;
    font-weight: 400;
}

#In_Progress.column-header {
    background-color: #D98E04;
    color: #ffffff;
    font-weight: 400;
}

#Testing.column-header {
    background-color: #F2E205;
    color: #ffffff;
    font-weight: 400;
}

#Done.column-header {
    background-color: #05A610;
    color: #ffffff;
    font-weight: 400;
}