.header {
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-top:50px;
}
    .header img {
        position: absolute;
        top: 50px;
        left: 199px;
        right: 0px;
        width: 50%;
        height: 100%;
    }
.info {
    width: auto;
    height: auto;
}