.main-wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 60px;
    padding-top: 27px;
    padding-right: 60px;
    padding-bottom: 70px;
    overflow:hidden;
}
.scrum-kanban-wrapper {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.func-wrapper {
    display: flex;
    flex-direction: column;
}
.scrum {
    position: absolute;
    width: 45%;
    height: 40%;
    left: 2%;
    background: rgba(240, 221, 52, 0.86);
    box-sizing: border-box;
    cursor: pointer;
    top: 10%;
}
.what {
    position: absolute;
    width: 182px;
    height: 75px;
    left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    /* identical to box height */
    color: #5C12A6 !important;
}
.is {
    position: absolute;
    width: 67px;
    height: 84px;
    left: 20px;
    top: 30%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    color: #5C12A6 !important;
}
.is-scrum {
    position: absolute;
    width: 288px;
    height: 84px;
    left: 20px;
    top: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    color: #5C12A6 !important;
}
.what-k {
    position: absolute;
    height: 84px;
    right: 4%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    color: #000000!important;
}
.is-k {
    position: absolute;
    height: 84px;
    right: 4%;
    top: 30%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    color: #000000 !important;
}
.is-kanban {
    position: absolute;
    height: 84px;
    right: 4%;
    top: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    color: #000000 !important;
}
.kanban {
    position: absolute;
    width: 45%;
    height: 40%;
    right: 2%;
    background: rgba(103, 37, 171, 0.86);
    cursor: pointer;
    top: 10%;
}
.grids {
    position: absolute;
    width: 30%;
    height: 40%;
    left: 2%;
    top: 55%;
    background: rgba(255, 87, 51, 0.77);
    cursor: pointer;
}
.charts {
    position: absolute;
    width: 30%;
    height: 40%;
    left: 35%;
    top: 55%;
    background: #F96D80;
    cursor: pointer;
}
.sync {
    position: absolute;
    width: 30%;
    height: 40%;
    left: 68%;
    top: 55%;
    background: #BB596B;
    cursor: pointer;
}
.how-grids {
    position: absolute;
    width: 106px;
    height: 28px;
    left: 20px;
    top: 1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.manage {
    position: absolute;
    width: 269px;
    height: 75px;
    left: 20px;
    top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    color: #000000;
}
.your {
    position: absolute;
    width: 168px;
    height: 75px;
    left: 20px;
    top: 35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    color: #000000;
}
.entities {
    position: absolute;
    width: 275px;
    height: 75px;
    left: 20px;
    top: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    color: #000000;
}
.how-charts {
    position: absolute;
    width: 106px;
    height: 28px;
    left: 45%;
    top: 1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.build {
    position: absolute;
    width: 269px;
    height: 75px;
    left: 35%;
    top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    color: #000000;
}
.report {
    position: absolute;
    width: 168px;
    height: 75px;
    left: 30%;
    top: 35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    color: #000000;
}
.charts-is {
    position: absolute;
    width: 275px;
    height: 75px;
    left: 28%;
    top: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    color: #000000;
}
.how-sync {
    position: absolute;
    height: 28px;
    right: 5%;
    top: 1%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.be {
    position: absolute;
    height: 75px;
    right: 4%;
    top: 10%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    color: #000000;
}
.synced {
    position: absolute;
    height: 75px;
    right: 4%;
    top: 35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 75px;
    /* identical to box height */
    color: #000000;
}
.with-jira {
    position: absolute;
    height: 75px;
    right: 4%;
    top: 60%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 75px;
    /* identical to box height */
    color: #000000;
}