.panelUl {
    /*position:fixed;
    z-index:1000;
    width:100%;*/

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.panelLi {
    float: right;
    
}
.panelBtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
    border: none;


}
    .panelBtn:hover, .panelBtn:focus {
        background-color: #4189C7;
    }
    

   
   
