.panelDiv {
    height: 52px;
}
.panelUl {
    width: 100%;
    position: fixed;
    z-index: 1000;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5C12A6;
}
.panelLi {
    float: right;
}

.panelBtn .picture {
    height: 25px;
    width: 25px;
    display: block;
    border-radius: 50%
;}

.panelBtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #5C12A6;
    border: none;
}
    .panelBtn:hover, .panelBtn:focus {
        background-color: #2F0459;
    }

.onAbove {
    z-index: 99999999;
}

   
   
