@page
@model ErrorModel
@{
	ViewData["Title"] = "Error";
}
<div class="jumbotron">
	<h1 class="text-danger">Internal Server Error.</h1>
	<h2 class="text-danger">An error occurred while processing your request.</h2>
	<img src="https://blog.hubspot.com/hubfs/HTTP-500-Internal-Server-Error.jpg" alt="Sample Image" />
</div>

