@page
@model int
@{
	ViewData["Title"] = "StatusCode";
}
@{
	var statusCode = Model;
	var statusmessage = "";
	var imgpath = "";
	switch (statusCode)
	{
		case 400:
			statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";
			imgpath = "https://www.eurovps.com/blog/wp-content/uploads/2017/12/69-http-errors-guide-400-hero.jpg";
			break;
		case 401:
			statusmessage = "UnAutorized";
			imgpath = "https://d1qhuz9ahqnrhh.cloudfront.net/wp-content/uploads/2015/10/ux-error-401.png";
			break;
		case 403:
			statusmessage = "Forbidden";
			imgpath = "http://apschool.ru/wp-content/uploads/2017/07/403-forbidden.png";
			break;
		case 404:
			statusmessage = "Page not found";
			imgpath = "https://www.konsorts.com/assets/404-Error.jpg";
			break;
		default:
			statusmessage = "That’s odd... Something we didn't expect happened";
			break;
	}
}
<div class="jumbotron">
	<h1>Error @Model</h1>
	<h3>@statusmessage</h3>
	<img src=@imgpath />
</div>