body {
   
}
.filterContainer {
    background-color: #DAC7FF;
    border-radius: 5px;
    height: 75px;
}
.input {
    width: 100%;
    border: 1px solid slategrey;
    border-radius: 4px;
    height:37px;
}
.dropdown-toggle {
    width: 70%;
}
.inputAdd {
    width: 70%;
    border: 1px solid slategrey;
    border-radius: 4px;
}
.datePickerStyle {
    width: 60%;
}
.mr-10 {
    margin-right: 10px;
    max-width: 20%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border: 1px solid slategrey;
    border-radius: 4px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content {
        display: block;
}

.tableGrid {
    table-layout: fixed;
   width: 100%;
}

.wrapper {
    border: 1px solid slategrey;
    border-radius: 4px;
}
.tablePosition {
    padding-top: 50px;
}
.addComponentBackground {
    background-color: #DAC7FF;
    width: 50%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 20px;
    padding: 10px;
}
.create-title {
    color: #2F0459;
}
.addContent {
    left: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    font-weight: 600;
}
.grid-name {
    color: #2F0459;
    padding: 10px;
    display: flex;
    align-self: flex-start;
    font-size: 36px;
    font-weight: 900;
    margin-left: 30px;
}
.grid-panel {
    display: flex;
    flex-direction: row;
}
.grid-buttons {
    margin-left: 68%;
    display:flex;
    flex-direction: row;
}
.btn-panel-table {
    margin-right: 10px;
    height: 40px;
}
.add-new {
    margin-top: 20px;
    color: #ffffff;
    font-weight: 600;
    background-color: #F2E205;
}
.add-filters {
    background-color: #D98E04;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 600;
}
.table-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}
.filter-row-5 {
    margin-left: 10px!important;
    margin-right: 10px!important;
}
.filter-row-10 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.apply-filters {
    background-color: #5C12A6;
    color: #ffffff;
    font-weight: 600;
    height: 35px;
}
.cancel-filter {
    background-color: #FFFFFF;
    border-color: #000000;
    color: #000000;
    font-weight: 600;
    height: 35px;
}
.create-save {
    background-color: #09A603;
    color: #ffffff;
    font-weight: 600;
    height: 35px;
}
.create-cancel {
    background-color: #D91604;
    color: #ffffff;
    font-weight: 600;
    height: 35px;
}
tr:hover {
    background-color: #F2F2F2;
}
td {
    text-overflow: ellipsis;
    overflow: hidden;
}
