#sprint-create-form {
    width: 25%;
}

#create-form-cancel-button {
    display:inline-block;
    float:right;
}

.form-control {
    margin-top: 0;
}

#create-form-buttons{
    width:25%;
}

#sprint-create-form-container{
    padding:20px;
}