body {

}

#kanban-board {

}

.kanban-column {
    display: inline-block;
    background-color: #eef2f9;
    vertical-align: top;
    width: 18%;
    margin: 5px;
    padding-left: 7px;
    padding-right: 7px;
    height: 700px;
    overflow: auto;
}

.column-header {
    height: 32px;
    text-align: center;
}

.column-header-text {
    display: inline-block;
    font-family: Georgia, serif;
    font-weight: 500;
    font-size: 20px;
}

#Tasks.column-header {
    background-image: linear-gradient(to bottom right, #d7dfe4 20%, #abb5bf);
}

#To_Do.column-header {
    background-image: linear-gradient(to bottom right, #00f2fe 20%, #4facfe);
}

#In_Progress.column-header {
    background-image: linear-gradient(to bottom right, #ce89f0 20%, #ad3de6);
}

#Testing.column-header {
    background-image: linear-gradient(to bottom right,#F9D423 20%, #e65c00);
}

#Done.column-header {
    background-image: linear-gradient( to bottom right, #65fd4d 20%, #02be5d);
}

.column-options-button-icon {
    font-size: 24px;
    height: auto;
}

.kanban-card {
    background-color: #fffbf0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid grey;
    width: 100%;
    display: inline-block;
    font-family: "Roboto", sans-serif;
}

.kanban-card:hover {
    cursor:default;
}

.kanban-card-header {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
}

.card-header-priority {
    
    height: 20px;
    width: 70px;
}

.card-priority-color-low {
    background: linear-gradient(90deg, #9ea7fc 17%, #6eb4f7 83%);
}

.card-priority-color-medium {
    background: linear-gradient(138.6789deg, #81d5ee 17%, #7ed492 83%);
}

.card-priority-color-high {
    background: linear-gradient(138.6789deg, #c781ff 17%, #e57373 83%);
}

.card-header-priority-text {
    color: white;
    font-size: 12px;
    font-weight: 400;
    border-radius: 5px;
    padding: 2px;
}

.card-header-rank {
    margin-left: auto;
    font-weight: 600;
}

.card-name-text {
    color: black;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.card-toggle {
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-toggle-collapse {
    border-bottom: 1px dashed grey;
    margin-left: 10px;
    margin-right: 10px;
    justify-content:flex-end;
}

.card-button-expand {
    font-size: 14px;
    font-weight: bold;
    background: #ed1c5b;
    border-radius: 100%;
    border: none;
    height: 30px;
    width: 30px;
    background-image: linear-gradient(to bottom right, #3CA55C 0%, #B5AC49 100%);
}

.card-button-expand:focus {
    outline: none;
}

.card-button-collapse {
    font-size: 14px;
    font-weight: bold;
    background: #ed1c5b;
    border-radius: 15px;
    border: none;
    height: 22px;
    width: 22px;
    background-image: linear-gradient(to bottom right, #fa5757 0%, #EA384D 100%);
}
.card-button-collapse:focus {
    outline: none;
}

.card-description-header {
    color: #225072;
    background-color: burlywood;
    display: inline-block;
    width: auto;
    padding: 1px 3px 1px 3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid grey;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.card-description-text {
    color: black;
    display: flex;
    background-image: linear-gradient(to bottom right, #ccffff 20%, #ccffcc);
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
    padding: 1px 3px 1px 3px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid grey;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
}