
.centered {
margin-left: 5%;
}
    
h3.header{
    text-align: center;
    padding:0;
}
.chart-container {
    display: flex;
    flex-direction: row;
}
.chart {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 5%;
}

#burn-up canvas {
    width: 600px !important;
    height: 300px !important;
}